.dialog_header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;

  .day {
    font-size: 27px;
    font-weight: bold;
  }
}

.dialog-content {
  width: 800px;

  .image-container {
    margin: 0 15px 5px 0;
    height: 270px;

    &.total {
      width: 760px;
    }

    &.left {
      width: 300px;
      float: left;
    }

    &.right {
      width: 300px;
      float: right;
    }

    img {
      width: 100%;
    }
  }

  .document-content {
    max-height: 80vh;
    padding: 0 20px;
    overflow-y: auto;

    p {
      text-align: justify;
      margin: 0 0 20px 0;
      padding: 0;

      &.contraindication {
        color: #ee7266;
      }
    }
  }

  .src-container {
    border-top: 1px dotted lightgray;
    padding-top: 6px;

    a {
      font-size: 12px;
      text-decoration: none;
      color: #000;
      outline: none;
    }
  }
}
