.dialog_header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;

  .actions {
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      display: flex;
      align-items: center;
      color: var(--color_box_text);
      text-decoration: none;
      outline: none;
    }

    mat-icon {
      cursor: pointer;
      opacity: 0.5;
    }

    mat-icon:hover {
      opacity: 1;
    }
  }
}

.dialog-content {
  color: var(--color_box_text);
  max-width: 800px;

  .image-container {
    margin: 0 15px 5px 0;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.total {
      width: 760px;
    }

    &.left {
      width: 300px;
      float: left;
    }

    &.right {
      width: 300px;
      float: right;
    }

    img {
      width: 100%;
    }

    .img-loaded {
      animation-name: img-display;
      animation-duration: 800ms;
      animation-iteration-count: 1;
    }

  }

  .document-content {
    max-height: 80vh;
    padding: 0 20px;
    overflow-y: auto;

    p {
      text-align: justify;
      margin: 0 0 20px 0;
      padding: 0;
    }
  }

  .src-container {
    border-top: 1px dotted var(--color_box_src_border);
    padding-top: 6px;

    a {
      font-size: 12px;
      text-decoration: none;
      color: var(--color_box_src_text);
      outline: none;
    }
  }
}

@media (max-width: 760px) {
  .dialog-content {
    .image-container {
      &.total {
        width: 100%;
        height: auto;
        float: none;
      }
    }
  }
}

@media (max-width: 500px) {
  .dialog-content {
    .image-container {
      &.left, &.right {
        width: 100%;
        height: auto;
        float: none;
      }
    }
  }
}

@keyframes img-display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
