<div class="dialog-content" *ngIf="data.document">
  <div class="dialog_header">
    <h2 class="title">
      <span class="day">{{ data.day }}.&nbsp;</span>
      <span *ngIf="data.document.type === 'asana'">Gyakorlás: </span>
      <span *ngIf="data.document.type === 'lecture'">Tanítás: </span>
      {{ data.document.title }}
    </h2>
    <div class="actions">
      <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{getEncodedURL()}}&amp;src=sdkpreparse">
        <mat-icon matTooltip="Megosztás Facebook-on">share</mat-icon>
      </a>
      <mat-icon *ngIf="hasNavigator" class="copy" (click)="copyUrl()" matTooltip="Hivatkozás másolása">link</mat-icon>
      <mat-icon class="close" (click)="close()" matTooltip="Bezárás">close</mat-icon>
    </div>
  </div>
  <div class="document-content">
    <div class="image-container" *ngIf="data.document.image"
         [class.total]="data.document.image.dir === 't'"
         [class.left]="data.document.image.dir === 'l'"
         [class.right]="data.document.image.dir === 'r'">
      <img src="assets/images/{{data.document.image.src}}" (load)="imageLoaded()"
           [hidden]="!loaded" [class.img-loaded]="loaded"/>
      <app-spinner *ngIf="!loaded"></app-spinner>
    </div>
    <div *ngIf="data.document.content" [innerHTML]="data.document.content"></div>
  </div>
  <div class="src-container" *ngIf="data.document.src">
    <a target="_blank" [href]="data.document.src | safeUrl ">
      <span *ngIf="data.document.type === 'asana'">További információ a gyakorlatról</span>
      <span *ngIf="data.document.type === 'lecture'">Kattints ide a videófelvétel megtekintéséhez</span>
    </a>
  </div>
</div>
