.dialog_header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;

  .close {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
}

.dialog-content {
  color: var(--color_box_text);

  .image-container {
    margin: 0 15px 5px 0;
    height: 270px;

    &.total {
      width: 760px;
    }

    &.left {
      width: 300px;
      float: left;
    }

    &.right {
      width: 300px;
      float: right;
    }

    img {
      width: 100%;
    }
  }

  .document-content {
    max-height: 80vh;
    padding: 0 20px;
    overflow-y: auto;

    p {
      text-align: justify;
      margin: 0 0 20px 0;
      padding: 0;
    }
  }

  .src-container {
    border-top: 1px dotted var(--color_box_src_border);
    padding-top: 6px;

    a {
      font-size: 12px;
      text-decoration: none;
      color: var(--color_box_src_text);
      outline: none;
    }
  }
}

@media (max-width: 760px) {
  .dialog-content {
    .image-container {
      &.total {
        width: 100%;
        height: auto;
        float: none;
      }
    }
  }
}

@media (max-width: 500px) {
  .dialog-content {
    .image-container {
      &.left, &.right {
        width: 100%;
        height: auto;
        float: none;
      }
    }
  }
}
