.dialog-content {
  text-align: center;
  max-width: 650px;

  .close {
    cursor: pointer;
    opacity: 0.5;
    float: right;
  }
  .close:hover {
    opacity: 1;
  }

  h1 {
    color: var(--color_primary);
    white-space: nowrap;
    min-width: 280px;
    margin-right: 50px;
  }

  p {
    font-style: italic;
    margin: 30px;
    color: var(--color_box_text);
  }

  div {
    font-weight: bold;
    opacity: 0.8;
  }

  span {
    font-size: 14px;
    font-weight: bold;
  }
}
