.dialog-content {
  text-align: center;
  width: 650px;

  .close {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    float: right;
  }

  h1 {
    color: var(--color_primary);
  }

  p {
    font-style: italic;
    margin: 30px;
    color: var(--color_box_text);
  }

  div {
    font-weight: bold;
    opacity: 0.8;
  }

  span {
    font-size: 14px;
    font-weight: bold;
  }
}
