.quote-container {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  text-shadow: none;
  user-select: auto;
  position: relative;
  left: 0;
  cursor: pointer;

  p {
    width: 100%;
    margin: 0;
    color: var(--color_card_text);

    &.author {
      text-align: right;
      margin-top: 12px;
      padding-top: 4px;
      border-top: 2px dotted var(--color_card_text);
      font-weight: bold;
    }
  }
}
