<div class="content">
  <div class="box_container" *ngIf="supported">
    <div class="main">
      <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{getEncodedURL()}}&amp;src=sdkpreparse">
        <mat-icon matTooltip="Megosztás Facebook-on">share</mat-icon>
      </a>
      <img src="assets/om.jpg" (click)="openWelcome()"/>
      <p (click)="toggleEnable()">Békés adventi heteket és áldott karácsonyt kíván a Jóga a Mindennapi Életben Egyesület!</p>
    </div>
    <div *ngFor="let day of days; let i = index"
         [class.box]="day > 0" [class.card]="day <= 0" [class.big]="day == 24"
         [class.active]="isCurrentDay(day)"  [class.inactive]="isInactive(day)" (click)="openDay(day)">
      <ng-container *ngIf="day > 0">
        {{ day }}<div class="box_title" *ngIf="!isInactive(day) && !isCurrentDay(day) && displayBoxTitle">{{ getDay(day).title }}</div>
      </ng-container>
      <ng-container *ngIf="day <= 0">
        <app-quote [quoteModel]="getQuote(randomQuotes[day * -1])"></app-quote>
      </ng-container>
    </div>
  </div>
  <div class="not-supported" *ngIf="!supported">
    <h1>Hari Om, kedves látogató!</h1>
    Az Ön által használt eszköz felbontása túl alacsony az oldal megnyitásához.
    A minimális felbontás {{ minWidth }}x{{ minHeight }}.
    <br> Kérem, próbálja megnyitni az oldalt asztali számítógépen.
  </div>
  <p class="copyright" [class.cp-not_supported]="!supported">
    Jóga a mindennapi <span (click)="toggleTheme()">életben</span> &#8226;
    <a href="https://www.jogaszeged.hu/" target="_blank">www.jogaszeged.hu</a> &#8226;
    <a href="https://www.joga.hu/" target="_blank">www.joga.hu</a> &#8226;
    <a href="https://www.yogaindailylife.org/" target="_blank">www.yogaindailylife.org</a>
  </p>
</div>
