@import '../styles';

@keyframes activeBox {
  0% {
    background-color: #000000;
  }
  50% {
    background-color: #1a3b43;
  }
  100% {
    background-color: #000000;
  }
}

.copyright {
  text-align: center;
  margin-top: 13px;
  font-size: 10px;
  color: #d6d6d6;
  margin-bottom: 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 100%;
}

.box_container {
  width: $container_width;
  height: calc($box_width * 5);
  overflow: hidden;
  padding: 10px;
  background: $color_light_card;
  box-shadow: 4px 4px 3px rgb(0 0 0 / 10%);
  border: 1px solid rgb(0 0 0 / 20%);
}

.box {
  float: left;
  width: $box_width;
  height: $box_width;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  text-shadow: 5px 5px 3px rgb(0 0 0 / 15%);
  user-select: none;
  transition: 0.2s ease-in-out;
  position: relative;

  &.inactive {
    filter: blur(2px) sepia(0.3) grayscale(0.2);
    opacity: 0.8;
    cursor: auto;
  }

  &.inactive:hover {
    filter: blur(2px) sepia(0.3) grayscale(0.2);
    opacity: 0.8;
    cursor: auto;
  }

  &.active {
    color: $color_light_red;
    animation-name: activeBox;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
  }
}

.box:not(.inactive):hover {
  background: #000000;
  font-size: 50px;
}

.box:after {
  content: '';
  background: linear-gradient(45deg, #000000, #ffffff);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

.main {
  float: left;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: calc($box_width * 2 - 20px);
  height: calc($box_width * 2 - 20px);
  background: $color_light_main;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  padding: 10px;
  text-shadow: none;
  box-shadow: 6px 6px 7px rgb(0 0 0 / 20%);
  position: relative;
  color: $color_light_red;

  img {
    width: 75%;
    height: 75%;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
  }
}

.card {
  float: left;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: calc($box_width * 2 - 40px);
  height: calc($box_width - 40px);
  background: $color_light_card;
  padding: 20px;
  box-shadow: 2px 3px 3px rgb(0 0 0 / 20%);
  position: relative;
  z-index: 1;
}

.big {
  width: calc($box_width * 2);
  height: $box_width;
}

.box04, .box18, .box13, .box16, .box09, .box23, .box05, .box17, .box08 {
  background: $color_light_gray;
}

.box01, .box02, .box11, .box14, .box20, .box19, .box24 {
  background: $color_light_green;
}

.box03, .box06, .box22, .box12, .box15, .box07, .box21, .box10 {
  background: $color_light_red;
  box-shadow: 2px 3px 3px rgb(0 0 0 / 20%);
  position: relative;
  z-index: 1;
}

.not-supported {
  padding: 20px;
  color: #ffffff;
}
