<div class="dialog-content" *ngIf="data.document || data.sequence">
  <div class="dialog_header">
    <h2 class="title">
      <span>{{ data.index }}.&nbsp;</span>
      <span *ngIf="data.document && data.document.type === 'asana'">Gyakorlás: </span>
      <span *ngIf="data.document && data.document.type === 'lecture'">Tanítás: </span>
      {{ data.document ? data.document.title : data.sequence.title }}
    </h2>
    <div class="actions">
      <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{getEncodedURL()}}&amp;src=sdkpreparse">
        <mat-icon title="Megosztás Facebook-on">share</mat-icon>
      </a>
      <mat-icon *ngIf="hasNavigator" class="copy" (click)="copyUrl()" title="Hivatkozás másolása">link</mat-icon>
      <mat-icon class="close" (click)="close()" title="Bezárás">close</mat-icon>
    </div>
  </div>

  <div class="document-content" *ngIf="data.document">
    <div class="image-container" *ngIf="data.document.image"
         [class.total]="data.document.image.dir === 't'"
         [class.left]="data.document.image.dir === 'l'"
         [class.right]="data.document.image.dir === 'r'">
      <img src="assets/images/{{data.document.image.src}}" (load)="imageLoaded()"
           [hidden]="!loaded" [class.img-loaded]="loaded"/>
      <app-spinner *ngIf="!loaded"></app-spinner>
    </div>
    <div *ngIf="data.document.content" [innerHTML]="data.document.content"></div>
  </div>
  <div class="src-container" *ngIf="data.document && data.document.src">
    <a target="_blank" [href]="data.document.src | safeUrl ">
      <span *ngIf="data.document.type === 'asana'">További információ a gyakorlatról</span>
      <span *ngIf="data.document.type === 'lecture'">Kattints ide a videófelvétel megtekintéséhez</span>
    </a>
  </div>

  <div class="document-content" *ngIf="data.sequence && data.sequence.description"
       [innerHTML]="data.sequence.description"></div>

  <div class="sequence-content" *ngIf="data.sequence">
    <div class="sequence-doc" *ngFor="let doc of data.sequence.documents; let i = index" (click)="openDocument(i+1, doc)">
      <div>
        <div>{{ i+1 }}</div>
        <div>
          <span *ngIf="doc.type === 'asana'">Gyakorlás: </span>
          <span *ngIf="doc.type === 'lecture'">Tanítás: </span>
          {{ doc.title }}<br/>
          <span class="document-description" *ngIf="doc.description">{{ doc.description }}</span>
        </div>
      </div>
      <div class="sequence-doc-background"></div>
    </div>
  </div>
</div>
