html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(45deg, #3e5356, #68a1ab);
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, .62);
}

$color_light_gray: #d0ddcc;
$color_light_green: #24535b;
$color_light_red: #ee7266;
$color_light_main: #000000;
$color_light_card: #ffffff;
$container_width: 1050px;
$box_width: calc($container_width / 7);
