
:root {
  --color_bg_1: #3e5356;
  --color_bg_2: #68a1ab;
  --color_primary: #ee7266;
  --color_secondary: #24535b;
  --color_accent: #d0ddcc;
  --color_day_text: #ffffff;
  --color_container_bg: #ffffff;
  --color_main_bg: #000000;
  --color_main_text: #ee7266;
  --color_card_bg: #ffffff;
  --color_card_text: #ee7266;
  --color_box_bg: #ffffff;
  --color_box_text: #000000;
  --color_box_src_text: #000000;
  --color_box_src_border: #d3d3d3;
  --color_copyright: #d6d6d6;
  --color_not_supported_text: #ffffff;

  --container_width: 1050px;
  --box_width: calc(var(--container_width) / 7);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(45deg, var(--color_bg_1), var(--color_bg_2));
}

.mat-dialog-container {
  background: var(--color_box_bg);
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, .62);
}

.red {
  color: #ee7266;
}

@media (max-width: 1024px) {
  .day-modal {
    max-width: unset !important;
    width: 100%;
    height: 100%;
  }
}
