<div class="dialog-content" *ngIf="data.document">
  <div class="dialog_header"  (click)="close()">
    <h2 class="title">
      <span *ngIf="data.document.type === 'asana'">Gyakorlás: </span>
      <span *ngIf="data.document.type === 'lecture'">Tanítás: </span>
      {{ data.document.title }}
    </h2>
    <div class="day">{{ data.day }}</div>
  </div>
  <div class="document-content"  (click)="close()">
    <div class="image-container" *ngIf="data.document.image">
      <img src="assets/{{data.document.image}}" />
    </div>
    <p *ngFor="let p of data.document.paragraphs" [class.nospace]="!p.nl">
      {{ p.c }}
    </p>
    <p class="contraindication" *ngIf="data.document.contraindication">
      Vigyázat!!! {{ data.document.contraindication }}
    </p>
  </div>
  <div class="src-container" *ngIf="data.document.src">
    <a target="_blank" [href]="data.document.src | safeUrl ">
      <span *ngIf="data.document.type === 'asana'">További információ a gyakorlatról</span>
      <span *ngIf="data.document.type === 'lecture'">Kattints ide a videófelvétel megtekintéséhez</span>
    </a>
  </div>
</div>
